In [3]:
import numpy as np 
import pandas as pd

In [7]:
books = pd.read_csv('data/final_books.csv')

In [8]:
books.head()

,Title,Author,Genre,SubGenre,Height,Category
0,Fundamentals of Wavelets,"Goswami, Jaideva",tech,signal_processing,228,tech signal_processing
1,Data Smart,"Foreman, John",tech,data_science,235,tech data_science
2,God Created the Integers,"Hawking, Stephen",tech,mathematics,197,tech mathematics
3,Superfreakonomics,"Dubner, Stephen",science,economics,179,science economics
4,Orientalism,"Said, Edward",nonfiction,history,197,nonfiction history

In [9]:
books.shape

(210, 6)

In [10]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Title     210 non-null    object
 1   Author    210 non-null    object
 2   Genre     210 non-null    object
 3   SubGenre  210 non-null    object
 4   Height    210 non-null    int64
 5   Category  210 non-null    object
dtypes: int64(1), object(5)
memory usage: 10.0+ KB

In [29]:
new_book = pd.read_csv('data/encoded_book.csv')

In [30]:
new_book.shape

(211, 656)

In [23]:
new_book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 211 entries, 0 to 210
Columns: 654 entries, Title to SubGenre_trivia
dtypes: float64(625), object(29)
memory usage: 1.1+ MB

### Now based on fatures extracted from dataset . We are going to use content based filtering to recommand the books to the user

In [24]:
from sklearn.metrics.pairwise import cosine_similarity

In [32]:
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.impute import SimpleImputer

# Impute NaN values using mean imputation
imputer = SimpleImputer(strategy='mean')
new_book_imputed = imputer.fit_transform(new_book.drop(columns=['Title', 'Author','Genre','SubGenre']))

# Calculate cosine similarity between all pairs of books based on their features
similarity_matrix = cosine_similarity(new_book_imputed)

def recommend_books(book_title, num_recommendations=5):
    # Find the index of the book in the DataFrame
    book_index = new_book[new_book['Title'] == book_title].index[0]
    
    # Get similarity scores for the book with other books
    sim_scores = list(enumerate(similarity_matrix[book_index]))
    
    # Sort the books based on similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    
    # Get the indices of the top similar books (excluding the book itself)
    similar_books_indices = [i for i, _ in sim_scores[1:num_recommendations+1]]
    
    # Return the titles, genres, and subgenres of recommended books
    recommended_books = new_book.iloc[similar_books_indices][['Title', 'Genre', 'SubGenre']]
    return recommended_books

# Example: Recommend books similar to 'Fundamentals of Wavelets'
recommended_books = recommend_books('Fundamentals of Wavelets')
print(recommended_books)

                                          Title Genre           SubGenre
60           Computer Vision, A Modern Approach  tech  signal_processing
61          Principles of Communication Systems  tech  signal_processing
8    Image Processing & Mathematical Morphology  tech  signal_processing
206                Image Processing with MATLAB  tech  signal_processing
154              Elements of Information Theory  tech  signal_processing